@import 'theme.css';

* {
  box-sizing: border-box;
}

body {
  font: var(--font-size) var(--font);
  color: var(--text-color);
  background: var(--theme-color);
  word-break: break-word;
  max-width: 800px;
  margin: auto;
}

body, main {
  padding: 20px 40px;
}

h1, h2, p, label, select, input {
  margin: 10px 0;
}

h2 {
  text-align: center;
}

header {
  color: var(--theme-color);
  background: var(--text-color);
  padding: 30px 60px;
  border-radius: 10px;
  box-shadow: 0 8px rgb(0 0 0 / 10%);
}

header, header h1, button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header {
  justify-content: space-between;
  text-align: center;
}

img {
  max-width: 100%;
}

header h1 img {
  height: 40px;
}

header h1 img, button svg {
  margin-right: 8px;
}

header img {
  height: 80px;
}

header a img {
  transition: 100ms;
}

header a:hover img {
  transform: scale(1.1);
}

main div {
  margin-top: 20px;
}

label {
  display: block;
}

select, button, input {
  font-family: var(--font);
  color: var(--text-color);
  background: transparent;
  width: 100%;
  border: 1px solid var(--text-color);
  border-radius: 10px;
  outline: none;
}

select {
  background: var(--theme-color);
  appearance: none;
  -moz-appearance: none;
}

select, input {
  font-size: 16px;
  padding: 8px 10px;
}

button {
  font-size: 18px;
  color: var(--theme-color);
  background: var(--text-color);
  justify-content: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: 100ms;
}

button:hover, button:focus {
  color: var(--text-color);
  background: transparent;
}

button:hover svg path, button:focus svg path {
  fill: var(--text-color);
}

button:hover {
  transform: translateY(-3px);
}

button:active {
  transform: translateY(3px);
}

button:focus, input:focus {
  border: 1px dotted var(--text-color);
}

footer {
  text-align: center;
}

footer a {
  color: var(--text-color);
  transition: 100ms;
}

footer a:hover {
  text-decoration: none;
}

::selection {
  color: var(--text-color);
  background: var(--alt-color);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
}

::-webkit-scrollbar-track {
  background: transparent;
}

@media (max-width: 550px) {
  header {
    justify-content: center;
  }
}

@media (max-width: 340px) {
  header h1 {
    display: block;
  }

  header h1 img {
    display: none;
  }
}
